<% content_for :titulo do %>
    <%= Sivel2Gen.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Casos' do %>
        <%= opcion_menu 'Listado', sivel2_gen.casos_path,
          desplegable: true %>
        <%= opcion_menu 'Validaciones', sivel2_gen.validarcasos_path,
          desplegable: true %>
        <%= opcion_menu 'Buscar repetidos', 
          sivel2_gen.buscarrepetidos_path, desplegable: true %>
        <%= opcion_menu 'Listado de víctimas y casos', 
          sivel2_gen.victimas_path, desplegable: true %>
        <%= opcion_menu 'Conteo demografía víctimas', 
          sivel2_gen.conteos_personas_path, desplegable: true %>
        <%= opcion_menu 'Conteo general de víctimas', 
          sivel2_gen.conteos_genvic_path, desplegable: true %>
        <%= opcion_menu 'Conteo de victimizaciones individuales', 
          sivel2_gen.conteos_victimizaciones_path,
          desplegable: true %>
        <%= opcion_menu 'Geolocalización de casos sobre OpenStreetMap',
          sivel2_gen.casos_mapaosm_path, desplegable: true %>
      <% end %>
      <%= despliega_abajo 'Actividades' do %>
        <%= opcion_menu 'Listado', cor1440_gen.actividades_path,
          desplegable: true %>
        <%= opcion_menu 'Participantes/Víctimas/Beneficiarios', sip.personas_path,
          desplegable: true %>
      <% end %>
      <%= despliega_abajo 'Proyectos' do %>
        <%= opcion_menu 'Listado', cor1440_gen.proyectosfinancieros_path,
          desplegable: true %>
        <% if can?(:manage, Cor1440Gen::Mindicadorpf) %>
          <%= opcion_menu 'Medición de indicadores', 
            cor1440_gen.mindicadorespf_path, desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo 'ZRC' do %>
        <%= opcion_menu 'Nodos', main_app.admin_nodos_path,
          desplegable: true %>
        <%= opcion_menu 'ZRC', main_app.zrcs_path,
          desplegable: true %>
        <%= opcion_menu 'Organizaciones', sip.actoressociales_path,
          desplegable: true %>

      <% end %>

    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <%= despliega_abajo 'Documentos' do %>
      <%= opcion_menu 'Manual', 'https://docs.google.com/document/d/1fpwDBcbjAj0faDA0IREYTbQj2BnPivkViGEuFELkwGk/edit?usp=sharing',
        desplegable: true %>
      <%= opcion_menu 'Nube', heb412_gen.sisini_path,
        desplegable: true %>
      <% if current_usuario.nil? %>
        <%= opcion_menu 'Acerca de', sivel2_gen.acercade_path,
          desplegable: true %>
      <% end %>
    <% end %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Administrar' do %>
        <%= opcion_menu 'Clave y tema', main_app.editar_registro_usuario_path,
          desplegable: true %>
        <% if session[:capturacaso_acordeon] %>
          <%= opcion_menu 'Ficha caso vertical ✓', 
            sivel2_gen.fichacasovertical_path,
            desplegable: true, id: 'fichacasovertical' 
          %>
        <% else %>
          <%= opcion_menu 'Ficha caso vertical', 
            sivel2_gen.fichacasovertical_path,
            desplegable: true, id: 'fichacasovertical' 
          %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu 'Plantillas para listados en hojas de calculo',
            heb412_gen.plantillashcm_path, desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu 'Plantillas para un registro en hoja de calculo',
            heb412_gen.plantillashcr_path, desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantilladoc %>
          <%= opcion_menu 'Plantillas para un registro en documento',
            heb412_gen.plantillasdoc_path, desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu 'Usuarios', main_app.usuarios_path,
            desplegable: true %>
          <%= opcion_menu 'Tablas Básicas', sivel2_gen.tablasbasicas_path,
            desplegable: true %>
          <%= opcion_menu 'Respaldo cifrado', sip.respaldo7z_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
        main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu 'Acerca de', sivel2_gen.acercade_path %>
      <%= opcion_menu 'Iniciar Sesión', main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p style='text-align: right'><span class='derechos'>Dominio Público de acuerdo a Legislación Colombiana<br/>
    Desarrollado por <a href='http://www.pasosdeJesus.org' target='_blank'>Pasos de Jesús</a>. 2020. 
  </span></p>
<% end %>

<%= render template: 'layouts/sip/application' %>
